#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.logo {
  height: 25px;
  padding: 0;
  width: auto;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: #f6f8fa;
}

header {
  background-color: #052849;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
}
